<section class="nav">   
        <div class="nav__buttons">
            <a routerLink="/home" routerLinkAtive="active" class="nav__buttons__format">
                Home
            </a>
            <a class="nav__buttons__format">
                About
            </a >
            <a routerLink="/login"
            class="nav__buttons__format">
                Entrar
        </a>
            
        </div>
</section>

<section class="section" >
    <div class="section__apresentation">
        <img class="section__apresentation__format1" src="../../assets/img/PngItem_5152607.png">
        <p class="section__apresentation__text">The Rick and Morty</p>
        <!--img class="section__apresentation__format1"  [src]="img">
        <img class="section__apresentation__format2"  [src]="title"-->
    </div>

</section>