@mixin for-mobile {
  @media (max-width: 1043px) {
    @content;
  }
}

@mixin for-phone {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin for-pocket {
  @media (max-width: 490px) {
    @content;
  }
}

@mixin flx($property, $jty-cnt, $algn-itm, $position) {
  display: flex;
  #{$property}: $jty-cnt;
  #{$algn-itm}: $position
}

nav {
  @include flx(justify-content, space-between, align-items, center);
  width: 100%;
  height: 10vh;
  background-image: radial-gradient(circle at 50% -20.71%, #3c78f2 10%, #3c78f2 25%, #3c78f2 50%, #3c78f2 75%, #0051de 100%);


  .logo {
    display: flex;
    align-items: center;
    color: white;

    svg {
      margin-left: 3vh;
      margin-right: 0.5vh;

      @include for-phone {
        width: 30px;
        height: 30px;
      }
    }

    h1 {
      font-weight: 800;
      color: white;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.5rem;

      @include for-phone {
        font-size: 1rem;
      }

    }
  }


  .links {
    @include flx(justify-content, center, align-items, center);
    height: 100%;
    width: 15%;


    @include for-mobile {
      width: 20%;
      font-size: 0.75;
    }

    @include for-phone {
      width: 30%;

    }

    @include for-pocket {
      width: 40%;
    }

    a {
      width: 100%;
      font-size: 1rem;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: rgb(241, 241, 241);
      text-decoration: none;


      @include for-mobile {
        width: 20%;
        font-size: 0.7rem;

      }

      @include for-phone {
        width: 40%;
      }


    }

    a:hover {
      border-bottom: pink;
    }

    a:nth-child(1) {
      color: rgb(241, 241, 241);
      text-decoration: none;
      margin-right: 3vh;

      @include for-mobile {
        width: 35%;
        margin-right: 1vh;
      }

      @include for-phone {
        width: 40%;
        margin-right: 0vh;
      }

      @include for-pocket {
        margin-right: 1vh;
        ;
      }

    }

    a:nth-child(2) {

      @include for-phone {
        margin-right: 1vh;
      }
      
      
    }
  }

}
