body {
  display: flex;
  background-color: #f0f0f0;
  justify-content: center;
}

.flex {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 50%;
  height: 100%;
}

.flex__logo-nibo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}
.flex__logo-nibo-img {
  width: 4em;
}
.flex__background {
  display: flex;
  flex-direction: column;
  background-image: url("img/blackfriday-bg-emails.png");
  background-repeat: repeat-x;

  align-items: center;
  justify-content: center;
}
.flex__background-youtube {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.flex__background-youtube-img {
  width: 20%;
}
.flex__background-text-1 {
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.5em;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

.flex__background-countdown {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
.flex__background-countdown-img {
  width: 45%;
}

.flex__introducao {
  display: flex;
  color: #61686a;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 15px;
  padding-top: 25px;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

.flex__agenda {
  display: flex;
  background-color: #f0f0f0;
  height: 10rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.flex_agenda-line {
  border-left: 5px solid #ffc200;
}

.flex_agenda-text {
  padding-left: 15px;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

.flex__vantagens {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  font-family: "Segoe UI", Tahoma, "Geneva", Verdana, sans-serif;
}

.flex__vantagens-text1 {
  display: flex;
  flex-direction: column;
  color: #61686a;
  padding-left: 15px;
}

.flex__vantagens-verify {
  width: 3%;
  padding-right: 1em;
}

.flex__vantagens-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Courier New", Courier, monospace;
}
button {
  width: 11em;
  height: 3em;
  background-color: #ffc200;
  color: #313336;
  border: none;
  border-radius: 5px;
}
.flex__vantagens-duracao {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.flex__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #313336;
  width: 100%;
  height: 70px;
}

.flex__footer-img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.flex__footer-icone {
  width: 2em;
}

.flex__footer-icone:not(last-child) {
  padding-top: 15px;
  padding-right: 25px;
  padding-bottom: 15px;
}

@media (max-width: 375px) {
  .flex__footer-icone {
    width: 1em;
  }
}

@media (max-width: 440px) {
  .flex {
    width: 95%;
  }
  .flex__background-text-1 {
    font-size: 0.8em;
  }
  .flex_agenda-line {
    height: 95%;
    font-size: 10px;
  }
  .flex__vantagens-verify {
    width: 12%;
  }
  button {
    width: 65%;
  }

  .flex__introducao {
    font-size: 13px;
  }

  .flex__vantagens-text1 {
    font-size: 13px;
  }
  .flex__vantagens-duracao {
    font-size: 13px;
  }
}

@media (max-width: 1200px) {
  .flex {
    width: 75%;
  }
  .flex__background-text-1 {
    font-size: 1em;
  }
  .flex__vantagens-verify {
    width: 1rem;
  }
}

@media (min-width: 1440px) {
  .flex__background-countdown-img {
    width: 15rem;
  }
}
