<section>
    <img src="../../assets/img/stretched-1440-900-909641.png">
    <form>
        <div class="title">
            <p>Welcome</p>
        </div>
        
        <div class="inputs">
            <input class="inputs__decoration" type="text" placeholder="Email ou Login" id="login">
        </div>
        <div class="inputs">
            <input class="inputs__decoration" type="text" placeholder="Senha" formControlName="nome" id="nome">
        </div>
        <div class="login">
                <button routerLink="/home">
                    <p>Entrar</p>
                </button>
        </div>
        
        <div class="links">
            <a>Cadastre-se</a>
            <a>Esqueci minha senha</a>
        </div>

    </form>
</section>